<html>
    <head>

        <title style="color: #d9534f">Los-K</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <link rel="stylesheet" href="style.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/main.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Este es el header de la barra de navegacion -->
                <div class="navbar-header">
                    <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="http://localhost:3000/home" class="navbar-brand">Home</a>
                </div>
                <!-- Este es el cuerpo principal de la barra -->

            </div>
        </nav>
        <div class="col-xs-12" style="height:5px;"></div>
            <div class="container">
                    <h1 style="color: #e1edf7; ">Juegos <small></small></h1>
            </div>
        <div class="col-xs-12" style="height:10px;"></div>
            <div class="container">
                <a href="http://localhost:63342/progra123/views/prat.html?_ijt=r8qh5jrik2tqp4cjk023pau5ij" class="btn btn-default"><span class="glyphicon glyphicon-fire"></span> Toca a Los K</a>
            </div>
        <div class="col-xs-12" style="height:10px;"></div>
            <div class="container">
                <a href="http://localhost:3000/snake" class="btn btn-default"><span class="glyphicon glyphicon-flash"></span> Snake       </a>
            </div>
        <div class="col-xs-12" style="height:10px;"></div>
            <div class="container" style=>
                <a href="http://localhost:3000/buscaminas" class="btn btn-default"><span class="glyphicon glyphicon-certificate"></span> Buscaminas</a>
            </div>


        <div class="col-xs-12" style="height:75px;"></div>

        <!-- Este es el cuerpo principal de la pagina -->

        <div class="container" >
            <h1 style="color: #e1edf7">Chat Online</h1>
            <div  >
                <div id="chat_container">

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="pages">
                                <li class="chat page">
                                    <div class="chatArea">
                                        <ul class="messages"></ul>
                                    </div>
                                    <input class="inputMessage" placeholder="Escriba acá..."/>
                                </li>
                                <li class="login page">
                                    <div class="form">
                                        <h3 class="title">Ingresa tu nombre</h3>
                                        <input class="usernameInput" type="text" maxlength="14" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>